$chilanka: 'Chilanka', cursive;
$coiny: 'Coiny', cursive;
$courgette: 'Courgette', cursive;
$dancing-script: 'Dancing Script', cursive;
$emilys-candy: 'Emilys Candy', cursive;
$fuzzy-bubbles: 'Fuzzy Bubbles', cursive;
$handlee: 'Handlee', cursive;
$roboto-serif: 'Roboto Serif', serif;
$roboto-slab: 'Roboto Slab', serif;

/*BOX SHADOW
box-shadow: 8px 4px 4px grey;
box-shadow: 60px -16px teal;
box-shadow: 10px 5px 5px black;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 5em 1em gold;
box-shadow: 3px 3px red, -1em 0 0.4em olive;
box-shadow: 0px 0px 5px 1px black;
box-shadow: 0px 10px 10px -6px black
box-shadow: 0px 10px 10px black;
box-shadow: 0px 0px 10px 0px #333 inset;
*/
