//Fonts
$aclonica: 'Aclonica', sans-serif;
$bonbon: 'Bonbon', cursive;
$coiny: 'Coiny', cursive;
$courgette: 'Courgette', cursive;
$emilys-candy: 'Emilys Candy', cursive;
$finger-paint: 'Finger Paint', cursive;
$frede-great: 'Fredericka the Great', cursive;
$henny-penny: 'Henny Penny', cursive;
$kalam: 'Kalam', cursive;
$lovers-quarrel: 'Lovers Quarrel', cursive;
$mistery-quest: 'Mystery Quest', cursive;
$pacifico: 'Pacifico', cursive;
$ribeye: 'Ribeye', cursive;
$roboto-serif: 'Roboto Serif', serif;
$roboto-slab: 'Roboto Slab', serif;
$sail: 'Sail', cursive;
$sevillana: 'Sevillana', cursive;
$shojumaru: 'Shojumaru', cursive;
$spirax: 'Spirax', cursive;
$tillana: 'Tillana', cursive;
/*BOX SHADOW
box-shadow: 8px 4px 4px grey;
box-shadow: 60px -16px teal;
box-shadow: 10px 5px 5px black;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 5em 1em gold;
box-shadow: 3px 3px red, -1em 0 0.4em olive;
box-shadow: 0px 0px 5px 1px black;
box-shadow: 0px 10px 10px -6px black
box-shadow: 0px 10px 10px black;
box-shadow: 0px 0px 10px 0px #333 inset;
*/
