$font-family1: 'Beth Ellen', cursive;
$font-family2: 'Bonbon', cursive;
$font-family3: 'Catamaran', sans-serif;
$font-family4: 'Dancing Script', cursive;
$font-family5: 'Fasthand', cursive;
$font-family6: 'Flavors', cursive;
$font-family7: 'Fleur De Leah', cursive;
$font-family8: 'Fontdiner Swanky', cursive;
$font-family9: 'Fuzzy Bubbles', cursive;
$font-family10: 'Henny Penny', cursive;
$font-family11: 'Indie Flower', cursive;
$font-family12: 'Mystery Quest', cursive;
$font-family13: 'Nosifer', cursive;
$font-family14: 'Pacifico', cursive;
$font-family15: 'Poppins', sans-serif;
$font-family16: 'Puppies Play', cursive;
$font-family17: 'Roboto', sans-serif;
$font-family18: 'Roboto Serif', serif;
$font-family19: 'Roboto Slab', serif;
$font-family20: 'Rubik Moonrocks', cursive;
$font-family21: 'Satisfy', cursive;
$font-family22: 'Spirax', cursive;
$font-family23: 'Vibur', cursive;

/*BOX SHADOW
box-shadow: 8px 4px 4px grey;
box-shadow: 60px -16px teal;
box-shadow: 10px 5px 5px black;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 5em 1em gold;
box-shadow: 3px 3px red, -1em 0 0.4em olive;
box-shadow: 0px 0px 5px 1px black;
box-shadow: 0px 10px 10px -6px black
box-shadow: 0px 10px 10px black;
box-shadow: 0px 0px 10px 0px #333 inset;
*/
