$font-family: 'Beth Ellen', cursive;
$font-family: 'Bonbon', cursive;
$font-family: 'Catamaran', sans-serif;
$font-family: 'Dancing Script', cursive;
$font-family: 'Fasthand', cursive;
$font-family: 'Flavors', cursive;
$font-family: 'Fleur De Leah', cursive;
$font-family: 'Fontdiner Swanky', cursive;
$font-family: 'Fuzzy Bubbles', cursive;
$font-family: 'Henny Penny', cursive;
$font-family: 'Indie Flower', cursive;
$font-family: 'Mystery Quest', cursive;
$font-family: 'Nosifer', cursive;
$font-family: 'Pacifico', cursive;
$font-family: 'Poppins', sans-serif;
$font-family: 'Puppies Play', cursive;
$font-family: 'Roboto', sans-serif;
$font-family: 'Roboto Serif', serif;
$font-family: 'Roboto Slab', serif;
$font-family: 'Rubik Moonrocks', cursive;
$font-family: 'Satisfy', cursive;
$font-family: 'Spirax', cursive;
$font-family: 'Vibur', cursive;

/*BOX SHADOW
box-shadow: 8px 4px 4px grey;
box-shadow: 60px -16px teal;
box-shadow: 10px 5px 5px black;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 5em 1em gold;
box-shadow: 3px 3px red, -1em 0 0.4em olive;
box-shadow: 0px 0px 5px 1px black;
box-shadow: 0px 10px 10px -6px black
box-shadow: 0px 10px 10px black;
box-shadow: 0px 0px 10px 0px #333 inset;
*/
