@import '../core/variables';
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD
/*body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b1721;
}*/
.containerCalendar {
  min-height: 100vh;
}
//

//https://www.npmjs.com/package/react-big-calendar
