@import '../core/variables';

.divContact {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.containerContact {
}

.divHeroContact {
  min-height: 80%;
  //padding: 20px 0 20px 0;
}
