@import '../core/variables';

.divContact {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.divContact__textDate {
  //font-family: $aclonica;
  padding-bottom: 20px;
  text-align: center;
}
.divContact__form {
}

.labelContact {
  font-size: 14px;
  padding-right: 10px;
  //font-family: $aclonica;
}
::placeholder {
  font-family: $roboto-serif;
  font-size: 12px;
}
.inputC {
  width: 180px;
  border-radius: 3px;
  border: solid 2px rgb(255, 98, 0);
}
.containerName {
  padding: 10px;
}

.containerName__input {
}

.containerLastName {
  padding: 10px;
}
.containerLastName__input {
}

.containerPhone {
  padding: 10px;
}
.containerPhone__input {
}
.containerEmail {
  padding: 10px;
}

.containerEmail__input {
}

.containerQuestions {
  padding: 10px;
}

.containerQuestions__input {
}

.divReturn__text .contact {
}
