@import '../core/variables';

.divContact {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.containerContact {
  //background: linear-gradient(70deg, rgb(116, 4, 95), rgb(243, 159, 219));
}
