@import '../core/variables';
/*.header {
  display: flex;
  justify-content: space-between;
}
.text {
  text-decoration: line-through;
}
*/
.text_diary {
  color: #fff;
  font-family: $courgette;
  font-size: 18px;
  padding: 20px;
}
//@mdbootstrap/react-to-do-list
