@import '../core/variables';
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.welcomeBack {
  display: flex;
  align-items: center;
  text-align: center;
}
.divMessage {
  padding: 1rem;
}
.divMessage__text1 {
  padding-bottom: 5px;
  color: black;
}
.divMessage__text1:hover {
  color: #071aac;
}
.divMessage__text2 {
  color: black;
  padding-bottom: 20px;
}
.divMessage__text2:hover {
  color: #071aac;
}
.divMessage button {
  font-weight: 400;
  background: #0707f0;
  padding: 5px 10px;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: #fff;
}
.divMessage button:hover {
  background: #0707f0ab;
}
.formL {
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 10px;
  background-color: rgba(37, 26, 196, 0.614);
  text-align: center;
}
.createAccount {
  padding: 1.2rem 0;
  color: #fff;
  font-size: 18px;
}
.icons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 25px;
}
.icon {
  width: 20px;
  height: 20px;
}
.borderIcon {
  height: 10px;
  width: 10px;
  background-color: #f3fffe;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: solid thin #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}
.borderIcon:hover {
  background-color: #8df3f6;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border: solid thin #8df3f6;
}
.formL input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: 0.2rem 0;
  font-size: 0.9rem;
}
input::placeholder {
  color: white;
}
.formL .inputBtn {
  width: 60%;
  margin: auto;
  border: solid thin white;
  padding: 5px;
  border-radius: 2rem;
  background-color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  color: #170474;
}

.formL .inputBtn:hover {
  background-color: #cbf6f8;
  border: solid thin #cbf6f8;
  transition: all 0.2s ease-in;
}
/*
.signIn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.signIn.active {
  opacity: 1;
  visibility: visible;
}
.signUp.active {
  opacity: 0;
  visibility: hidden;
}*/
//
/*



import '../styles/pages/formLanding.scss';
import React, { useState } from 'react';
import imgInstagram from '../images/instagram.png';
import imgFacebook from '../images/facebook.png';
import imgLinkedin from '../images/linkedin.png';

function FormLanding() {
  return (
    <div className='containerLanding'>
      <main className='hero'>
        <div className='containerForm signUp'>
          <div className='welcomeBack'>
            <div className='divMessage'>
              <h2 className='divMessage__text1'>Bienvenido a Diary</h2>
              <p className='divMessage__text2'>
                Si ya tienes una cuenta por favor inicia sesión aquí
              </p>
              <button className='signUpBtn'>Iniciar sesión</button>
            </div>
          </div>
          <form className='formL'>
            <p className='createAccount'>Crear una cuenta</p>
            <div className='icons'>
              <div className='borderIcon iconInstagram'>
                <img src={imgInstagram} alt='logo instagram' className='icon' />
              </div>
              <div className='borderIcon iconFacebook'>
                <img src={imgFacebook} alt='logo facebook' className='icon' />
              </div>
              <div className='borderIcon iconLinkedin'>
                <img src={imgLinkedin} alt='logo linkedin' className='icon' />
              </div>
            </div>
            <input type='text' placeholder='name' />
            <input type='email' placeholder='email' />
            <input type='password' placeholder='password' />
            <input type='button' value='Registrarse' className='inputBtn' />
          </form>
        </div>
        <div className='containerForm signIn'>
          <div className='welcomeBack'>
            <div className='divMessage'>
              <h2 className='divMessage__text1'>Bienvenido de nuevo</h2>
              <p className='divMessage__text2'>
                Si aún no tienes una cuenta por favor registrese aquí
              </p>
              <button className='signInBtn'>Registrarse</button>
            </div>
          </div>
          <form className='formL'>
            <p className='createAccount'>Iniciar sesión</p>
            <div className='icons'>
              <div className='borderIcon iconInstagram'>
                <img src={imgInstagram} alt='logo instagram' className='icon' />
              </div>
              <div className='borderIcon iconFacebook'>
                <img src={imgFacebook} alt='logo facebook' className='icon' />
              </div>
              <div className='borderIcon iconLinkedin'>
                <img src={imgLinkedin} alt='logo linkedin' className='icon' />
              </div>
            </div>

            <input type='email' placeholder='email' />
            <input type='password' placeholder='password' />
            <input type='button' value='Iniciar sesión' className='inputBtn' />
          </form>
        </div>
      </main>
    </div>
  );
}

export default FormLanding;

*/
