@import '../core/variables';
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  //mediumturquoise;
}

.containerForm {
  width: 90%;
  //height: 90vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  transition: all 0.5s ease-out;
}
.welcomeBack {
  display: flex;
  align-items: center;
  text-align: center;
}
.divMessage {
  padding: 1rem;
}
.divMessage__text1 {
  //font-size: 1.7rem;
  padding: 1rem 0;
  color: #74045f;
}
.divMessage__text1:hover {
  color: #bf09cf;
}
.divMessage__text2 {
  color: #74045f;
}
.divMessage__text2:hover {
  color: #bf09cf;
}
.divMessage button {
  //padding: 1rem;
  font-weight: 400;
  background: #74045f; //#4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  //font-size: 0.9rem;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
  color: #fff;
}
.divMessage button:hover {
  background-color: #f12eb9; //#6464f8;
}
.formL {
  //width: 400px;
  padding: 1rem;
  //margin: 2rem;
  background-color: rgba(142, 9, 142, 0.555);
  text-align: center;
}
.createAccount {
  padding: 1.2rem 0; //2.7
  color: #fff;
  font-size: 18px;
  //font-size: 1.7rem;
}
.icons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 15px;
}
.icon {
  width: 20px; //40px
  height: 20px;
}
.borderIcon {
  height: 10px; //20px
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; //1.5
  border: solid thin #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}
.borderIcon:hover {
  background-color: #bf09cf; //#4a4aee;
  cursor: pointer;
}
.formL input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: 0.2rem 0;
  font-size: 0.9rem;
  //color: #fff;
}
input::placeholder {
  color: #4a4aee;
}
.formL .inputBtn {
  width: 60%;
  margin: auto;
  border: solid thin white;
  //padding: 0.7rem;
  border-radius: 2rem;
  background-color: #fff;
  font-weight: 600;
  //margin-top: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #74045f;
  //color: #222;
}
/*
.signIn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.signIn.active {
  opacity: 1;
  visibility: visible;
}
.signUp.active {
  opacity: 0;
  visibility: hidden;
}*/
//
/*



import '../styles/pages/formLanding.scss';
import React, { useState } from 'react';
import imgInstagram from '../images/instagram.png';
import imgFacebook from '../images/facebook.png';
import imgLinkedin from '../images/linkedin.png';

function FormLanding() {
  return (
    <div className='containerLanding'>
      <main className='hero'>
        <div className='containerForm signUp'>
          <div className='welcomeBack'>
            <div className='divMessage'>
              <h2 className='divMessage__text1'>Bienvenido a Diary</h2>
              <p className='divMessage__text2'>
                Si ya tienes una cuenta por favor inicia sesión aquí
              </p>
              <button className='signUpBtn'>Iniciar sesión</button>
            </div>
          </div>
          <form className='formL'>
            <p className='createAccount'>Crear una cuenta</p>
            <div className='icons'>
              <div className='borderIcon iconInstagram'>
                <img src={imgInstagram} alt='logo instagram' className='icon' />
              </div>
              <div className='borderIcon iconFacebook'>
                <img src={imgFacebook} alt='logo facebook' className='icon' />
              </div>
              <div className='borderIcon iconLinkedin'>
                <img src={imgLinkedin} alt='logo linkedin' className='icon' />
              </div>
            </div>
            <input type='text' placeholder='name' />
            <input type='email' placeholder='email' />
            <input type='password' placeholder='password' />
            <input type='button' value='Registrarse' className='inputBtn' />
          </form>
        </div>
        <div className='containerForm signIn'>
          <div className='welcomeBack'>
            <div className='divMessage'>
              <h2 className='divMessage__text1'>Bienvenido de nuevo</h2>
              <p className='divMessage__text2'>
                Si aún no tienes una cuenta por favor registrese aquí
              </p>
              <button className='signInBtn'>Registrarse</button>
            </div>
          </div>
          <form className='formL'>
            <p className='createAccount'>Iniciar sesión</p>
            <div className='icons'>
              <div className='borderIcon iconInstagram'>
                <img src={imgInstagram} alt='logo instagram' className='icon' />
              </div>
              <div className='borderIcon iconFacebook'>
                <img src={imgFacebook} alt='logo facebook' className='icon' />
              </div>
              <div className='borderIcon iconLinkedin'>
                <img src={imgLinkedin} alt='logo linkedin' className='icon' />
              </div>
            </div>

            <input type='email' placeholder='email' />
            <input type='password' placeholder='password' />
            <input type='button' value='Iniciar sesión' className='inputBtn' />
          </form>
        </div>
      </main>
    </div>
  );
}

export default FormLanding;

*/
