@import '../core/variables';
.containerFormC {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #ca48de;
  //padding: 20px;
  //height: 500px;
}

.formContact {
  background-color: #4a90e2;
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.titleDateContact {
  font-family: $sail;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 10px 20px 10px;
}
.divInputC {
  display: flex;
  flex-direction: column;
}

.inputContact {
  background-color: #edf2f5;
  font-family: $roboto-serif;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  border: 0;
  color: black;
}

.inputContact::placeholder {
  color: #6c6c6e;
}
.inputContact:focus {
  outline: 2px solid rgb(227, 96, 30);
}
.btnContact {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border: solid thin white;
  padding: 5px;
  border-radius: 2rem;
  background-color: #fff;
  font-weight: 600;
  font-family: $courgette;
  color: #170474;
  cursor: pointer;
}
.btnContact:hover {
  background-color: #cbf6f8;
  border: solid thin #cbf6f8;
  transition: all 0.2s ease-in;
}
