@import '../core/variables';
.containerFormC {
  width: 100%;
  //height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: #0b1721;
}
.formContact {
  width: 100%;
  //height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  background-color: rgba(81, 79, 81, 0.555);
  text-align: center;
}
.divInputC {
  display: flex;
}
.formContact input {
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}
.formContact .lblName {
  position: absolute;
  //bottom: 0;
  //left: 0;
  width: 70%;
  //height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}
.formContact .lblName:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.textName {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #fff;
}
.formContact input:focus + .lblName .textName,
.formContact input:valid + .lblName .textName {
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}
.formContact input:focus + .lblName:after,
.formContact input:valid + .lblName:after {
  transform: translateX(0%);
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .formContact {
    width: 85%;
  }
}
