@import '../core/variables';
.containerFormC {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #ca48de;
  //padding: 20px;
  //height: 500px;
}

.formContact {
  background-color: rgba(70, 100, 233, 0.797);
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.titleDateContact {
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 10px 20px 10px;
}
.divInputC {
  display: flex;
  flex-direction: column;
}

.inputContact {
  background-color: #c8e2f2;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  border: 0;
  color: #fff;
}

.inputContact::placeholder {
  color: #bfc9f3;
}
:focus {
  outline: 1px solid rgb(227, 30, 171);
}
.btnContact {
  background-color: rgb(243, 24, 243);
  color: #bfc9f3;
  cursor: pointer;
}
.btnContact:hover {
  background-color: rgb(251, 71, 251);
  color: #bfc9f3;
  cursor: pointer;
}
