@import '../core/variables';

.containerHome {
  background: linear-gradient(70deg, rgb(116, 4, 95), rgb(243, 159, 219));
}
/*main {
  min-height: 70vh;
}*/
.headerHome {
  //background: red; //linear-gradient(rgb(246, 44, 209));
  display: flex;
}
.headerHome__divImg {
  width: 50%;
  height: 50%;
}
.headerHome__divImg--diary {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: transparent;
  width: 80%;
  height: 80%;
}

.linkHome {
}
.headerHome__divIcon {
  display: flex;
}
/*.btn1 {
  margin: 0 5px 5px 5px;
  background-color: rgba(101, 187, 198, 0);
  border-radius: 5px;
  width: 100px;
  font-family: $courgette;
  padding: 4px 0 4px;
  color: #fff;
  border: solid 2px rgb(255, 217, 0);
}
.btn1:hover {
  cursor: pointer;
  color: rgb(255, 217, 0);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
*/
//img
.linkMenu__icon {
  width: 20px;
  height: 20px;
}
.linkHome__icon {
  width: 20px;
  height: 20px;
}
.linkDiary__icon {
  width: 20px;
  height: 20px;
}
.linkNotes__icon {
  width: 20px;
  height: 20px;
}
.linkCalendar__icon {
  width: 20px;
  height: 20px;
}

.linkContact__icon {
  width: 20px;
  height: 20px;
}
.linkSettings__icon {
  width: 20px;
  height: 20px;
}

.heroHome {
  //background-color: burlywood;
}
.containerLandingT__text {
  font-family: $courgette;
  padding: 20px;
  color: #fff;
}

.containerLandingT__text2 {
  padding: 20px;
  //font-family: $dancing-script;
  font-weight: bold;
}

.containerLandingT__text3 {
  padding: 20px;
  font-family: $emilys-candy;
}

.footerHome {
  background: linear-gradient(rgba(246, 192, 241, 0.66));
}
/*
 <header className='headerHome'>
        <div className='headerHome__divImg'>
          <img className='header__img' src={imgDiary} alt='' />
        </div>
        <div className='headerHome__divIcon'>
          <Link className='linkMenu' to='/Menu'>
            <div className='divMenu'>
              <p className='divMenu__text'>Menu</p>
              <img className='divMenu__icon' src={imgMenu} alt='' />
            </div>
          </Link>
          <Link className='linkHome' to='/Home'>
            <div className='divHome'>
              <p className='divHome__text'>Home</p>
              <img className='divHome__icon' src={imgHome} alt='' />
            </div>
          </Link>
          <Link className='linkDiary' to='/Diary'>
            <img className='divDiary__icon' src={imgIconDiary} alt='diary' />
          </Link>
          <Link Link className='linkNotes' to='/Notes'>
            <div className='divNotes'>
              <p className='divNotes__text'>Notas</p>
              <img className='divNotes__icon' src={imgNotes} alt='' />
            </div>
          </Link>
          <Link Link className='linkCalendar' to='/Calendar'>
            <div className='divCalendar'>
              <p className='divCalendar__text'>Calendar</p>
              <img className='divCalendar__icon' src={imgCalendar} alt='' />
            </div>
          </Link>
          <Link Link className='linkContact' to='/Contact'>
            <div className='divContact'>
              <p className='divContact__text'>Contacto </p>
              <img className='divContact__icon' src={imgContact} alt='' />
            </div>
          </Link>
          <Link Link className='linkSettings' to='/Settings'>
            <div className='divSettings'>
              <p className='divSettings__text'>Ajustes</p>
              <img className='divSettings__icon' src={imgSettings} alt='' />
            </div>
          </Link>
        </div>
      </header>
*/
