@import '../core/variables';
main {
  min-height: 70%;
  padding: 20px;
}
.hero {
  min-width: 100vh;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divForm {
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}
.divForm .text1 {
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  color: aliceblue;
  font-weight: 500;
}

.divForm .form {
  margin: 25px 0 20px;
}

.divForm .divForm .box1 {
  border-color: rgb(125, 178, 238);
  border: solid 1px rgb(142, 139, 139);
  padding: 40px 50px;
  border-radius: 20px;
}

//min 17:7
