@import '../core/variables';
/*.boxFilter {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.inputFilter {
  border: solid 2px blue;
}
.inputFilter::placeholder {
  color: blue;
}
*/
