@import '../core/variables';

.containerToDoTask {
  margin-bottom: 10px;
  border: solid 2px rgb(159, 159, 235);
  border-radius: 5px;
}

.boxToDoTask {
  padding: 15px 0 15px 0;
  border-radius: 3px;
}
.taskInfo {
  display: flex;
  flex-direction: column;
}
.taskInfo__title {
  text-align: center;
  font-weight: bold;
  font-family: $ribeye;
}
.taskInfo__title::placeholder {
  font-family: $roboto-serif;
}
.taskInfo__textDesc {
  font-family: $roboto-serif;
  font-size: 13px;
  padding: 10px 5px;
  //max-width: 80px;
}
.boxToDoTask2 {
  //width: 70%;
  display: flex;
}
.boxBtnToDoTask {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.task {
  display: flex;
}
.category {
  padding: 2px 0;
  font-family: $roboto-slab;
  font-size: 12px;
}
.priority {
  padding: 2px 0;
  font-family: $roboto-slab;
  font-size: 12px;
}
.date {
  font-family: $roboto-slab;
  font-size: 10px;
  padding: 5px 0;
}
