@import '../core/variables';
.containerToDoForm {
}
.boxToDoForm2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  //align-items: flex-start;
}
.boxFormList {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}
.inputTaskTitle {
  margin-bottom: 10px;
}
.inputTaskTitle::placeholder {
  color: gray;
}
.inputTaskTitle {
  border: solid 2px blue;
}
.inputTaskTitle:hover {
  border: solid 2px blue;
}
.inputTaskDesc {
  height: 80px;
  border-radius: 5px;
  border: solid 2px blue;
}
.inputTaskDesc::placeholder {
  color: gray;
}
.boxSelect {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.boxBtnAddTask {
  display: flex;
  justify-content: center;
}
.btnAddTask {
  font-weight: 400;
  background: #0707f0;
  font-family: $courgette;
  width: 130px;
  color: #fff;
  border: solid 2px blue;
  border-radius: 15px;
  padding: 3px 5px;
  cursor: pointer;
}
.btnAddTask:hover {
  background: #0068f9;
  border: solid 2px #0068f9;
}
