.todo-list {
  /* Estilos generales */
  color: red;
}

.background-1 {
  color: yellow;
  /* Estilo del fondo de papel 1 */
}

.background-2 {
  color: aqua;
  /* Estilo del fondo de papel 2 */
}

/* Agrega más estilos para los fondos de papel adicionales */

.task {
  /* Estilos de las tareas */
}

.completed {
  /* Estilos para las tareas completadas */
}

/* Agrega más estilos según tus preferencias, como bordes, sombras, etc. */
