@import '../core/variables';

.containerToDoTask {
  margin-bottom: 10px;
  border: solid 2px rgb(159, 159, 235);
}
.boxToDoTask {
  padding: 15px 0 15px 0;
  border-radius: 3px;
}
.taskInfo {
  display: flex;
  flex-direction: column;
}
.taskInfo__title {
  text-align: center;
}
.taskInfo__textDesc {
  //max-width: 80px;
}
.boxToDoTask2 {
  //width: 70%;
  display: flex;
}
.boxBtnToDoTask {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.task {
  display: flex;
}
